.header_logo {
  background: #283231;
  padding: 10px;
}
.header_logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .header_logo {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 1024px) {
  .header_logo {
    padding-left: 200px;
  }
}
